---
import { CONTENT_SERVICE } from "~/services/content";
import Layout from '~/layouts/Default.astro';

export const prerender = true;

const projects = await CONTENT_SERVICE.getProjects();
const currentProjects = projects.filter(project => !project.archived);
const archivedProjects = projects.filter(project => project.archived);
---

<Layout title="Projects" description="Efforts I've taken on.">
	<div class="flex flex-col gap-8">
		<section class="flex flex-col gap-6">
			<h3 class="text-2xl md:text-3xl font-bold">Present</h3>

			<ol class="grid md:grid-cols-2 lg:grid-cols-3 gap-2 md:gap-4">
				{currentProjects.map(project => (
					<li class="border-l-4 border-l-black/50 transition-colors hover:border-l-black focus-within:border-l-black pl-2">
						<a href={`/projects/${project.slug}/`} class="flex flex-col">
							<p class="font-light text-base">
								<span>{project.year_start}</span>
							</p>
	
							<h4 class="font-semibold">{project.title}</h4>
							<p class="line-clamp-3">{project.description}</p>
						</a>
					</li>
				))}
			</ol>
		</section>

		<section class="flex flex-col gap-6">
			<h3 class="text-2xl md:text-3xl font-bold">Archive</h3>

			<ol class="grid md:grid-cols-2 lg:grid-cols-3 gap-2 md:gap-4">
				{archivedProjects.map(project => (
					<li class="border-l-4 border-l-black/50 transition-colors hover:border-l-black focus-within:border-l-black pl-2">
						<a href={`/projects/${project.slug}/`} class="flex flex-col">
							<p class="font-light text-base">
								<span>{project.year_start}</span>
	
								{project.year_end && (
									<span> - {project.year_end}</span>
								)}
							</p>
	
							<h4 class="font-semibold">{project.title}</h4>
							<p class="line-clamp-3">{project.description}</p>
						</a>
					</li>
				))}
			</ol>
		</section>
	</div>
</Layout>